
<div class="container col-md-8 mt-3">
    <h3> {{nbCom}} Commentaires</h3>
  
    <div *ngIf="nbCom > 0;else noComment;">
      <ul class="list-group" *ngFor="let com of comments">
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            
            <div>
              <small>Le {{com.created | date: 'dd MMM yyyy à H:mm:ss'}}</small>
              <p>{{com.content}}</p>
            </div>
            <div *ngIf="true">
              <button class="icon" (click)="onDelete(com.id)"><img src="./assets/images/icons/close.png" alt=""></button>
            </div>
        </div>
        </li>
      </ul>
    </div>
    <ng-template #noComment> 
      <div class="form-control mb-3">L'article n'a pas encore de commentaire
      </div>
    </ng-template>

    <!-- FORMULAIRE AFFICHE SI AUTH-->
    <div *ngIf="true; else offline">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mt-3">
        
        <div class="form-group">
          <label for="comment">Laissez un commentaire</label>
          <textarea class="form-control" id="comment" name="comment" ngModel rows="3" placeholder="Soyez constructif..."></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Poster</button>
      </form>
      <hr>
    </div>
    <ng-template #offline>
      <div>
        <a routerLink="/auth">Connectez-vous</a> pour pouvoir poster un commentaire
      </div>
    </ng-template>
  </div>
  
  