
    <h1>Les Peugeot 404 ont du cachet</h1>
    <div class="row mt-5">
    <div class="col-md-5 block1">
        
        <p>Ça, personne ne peut le nier<br>
            Mais tu t'es trompé de route...</p>
        <p>Heureusement, tout n'est pas perdu, admire le bolide...</p>

        <a routerLink="/" class="">Retour à l'accueil</a>
        <img routerLink="/" class="mt-5" src="./assets/images/404/404.jpg" alt="Erreur 404">
    </div>
    <div class="col-md-7 block2">
        <img routerLink="/" src="./assets/images/404/404-cab.jpg" alt="Erreur 404"/>
    </div> 
</div>