img{
    display: block;
    max-width: 600px;
    margin: 20px auto;
}

.block1 p{
    position: relative;
    z-index: 2;
}

.block1 img{
    position: absolute;
    top: 6.5rem;
    max-width: 32rem;
    z-index: 1;
}

h1{
    text-align: left;
}

.col-md{
    margin-top: 30px;
}