<main>

    <section class="col-md-8">
        <p>Bonjour !<br> Je m'appelle Julien... 
            Parmi les nombreuses thématiques qui m'intéressent dans la vie, je citerai tout particulièrement l'informatique et le voyage.</p>
        <p>Ce blog a été fabriqué par mes soins pour allier ces deux passions en partageant mes expériences et 
            en développant mes compétences en création d'applications ainsi qu'en design et en rédaction.</p>
        <p>
            Bonne visite
        </p>
        <p>
           Pour plus de détails visitez <a href="http://jmdev.us-east-2.elasticbeanstalk.com/" target="_blank">mon portfolio en ligne</a>
        </p>
    </section>
    
</main>