<main>
    <section class="col-md-8">
        <h2>Informatique</h2>
        <p>Ayant acquis de part mes expériences de bonnes connaissances de la base qu'est HTML/CSS,
            j'ai commencé à apprendre le PHP sur internet avant d'effectuer fin 2019 une formation de 3 mois intitulée
            Développeur Java Fullstack. Grâce à laquelle j'ai pu comprendre ce qu'est la programmation orientée objet, 
            la gestion de bases de données, les notions de modélisation et surtout le développement d'application<br>
            Nous avons aussi abordé la question du versionning avec Git et de méthodologie de projet avec Agile Scrum.
        </p>
        <p>Ce site m'a permis de fortifier mes compétences en Angular et en conception d'API Rest
            avec Spring et Hibernate. J'ai aussi été confronté aux problématiques de déploiement et d'hébergement.
        </p>
        <p>Je suis actuellement à la recherche d'un emploi de développeur en front ou en back 
            avec une préférence pour le front et les technologies basées sur JavaScript.</p>

    </section>
    
    <section class="col-md-8">
        <h2>Voyage</h2>
        <p>Si j'aime le voyage c'est avant tout pour sortir de la routine quotidienne, mais pas seulement.</p>
        <p>La découverte du monde et de nouvelles cultures s'avère être un pilier de notre propre construction et 
    du développement de notre esprit critique. Pour en tirer son plein potentiel, il est nécessaire de sortir des confortables chemins battus 
            et des conventions</p>
        <p>Pour cela, j'ai toujours été attiré par la découverte de nouvelles thématiques, de nouvelles façons de faire
             que ce soit dans ma vie
            personnelle ou professionnelle.
        </p>
        <p>"Just Do It" comme diraient les marketeurs d'une célèbre marque de sport, mais en vrai ils ont raison.</p>

        <blockquote>"Dans un voyage ce n'est pas la destination qui compte mais toujours le chemin parcouru, 
            et les détours surtout. Les détours."<br>
            Mondial nomade, Philippe Pollet-Villard
        </blockquote>
    </section>
    
</main>