footer{
    background-color: rgb(82, 82, 82);
    color: rgb(247, 247, 247);
    padding: 20px 0;
    text-align: center;
    font-family: "Ubuntu-Regular";
}

.container{
    margin: auto;
}

a{
    color: #111111;
    font-weight: 600;
}