<footer class="mt-4">
    <div class="container row">
        <div class="col">
            <h6>Me contacter</h6>
            Julien MARQUE<br>
            <a routerLink="/contact">Envoyer un message</a>
        </div>
        <div class="col">
            <h6>A propos</h6>
            Site par <a href="">JM Développement</a><br>
            Tous droits réservés, 2020<br>
            Mentions légales
        </div>
        <div class="col">
            <h6>Plan du site</h6>
        </div>
    </div>
</footer>