<section>
    <h2>Bienvenue sur CrazyTrip</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="./assets/images/articles/mazunte.jpg" alt="">
            <blockquote>
                <em>"Dans un voyage ce n'est pas la destination qui compte mais toujours le chemin parcouru, 
                et les détours surtout. Les détours."</em><br>
                <div class="author">Mondial nomade, Philippe Pollet-Villard</div>
            </blockquote>
        </div>
        <div class="col-md">
            <p>Si j'aime le voyage c'est avant tout pour s'évader de la routine quotidienne, mais pas seulement.</p>
            <p>La découverte du monde et de nouvelles cultures s'avère être un pilier de notre propre construction et 
        du développement de notre esprit critique. Pour en tirer son plein potentiel, il est nécessaire de sortir des confortables chemins battus 
                et des conventions</p>
            <p>Pour cela, j'ai toujours été attiré par la découverte de nouvelles thématiques, de nouvelles façons de faire
                 que ce soit dans ma vie
                personnelle ou professionnelle.
            </p>    
           
            <p>            
                <button class="btn btn-primary" routerLink="/about">En savoir plus</button>
            </p>
        </div>
    </div>
</section>

<section>
    <h2>Derniers articles</h2>
<div class="row z-flex">
    <div class="col-md-4" *ngFor="let article of articles">
        <a [routerLink]="['/articles', article.id]">
            <img [src]="article.image" class="card-img-top" alt="Image">
        </a>
        <div class="card-body">
            <div class="card-inner-body">
                <div class="blur">
                    
                </div>
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{article.title}}</h5>
                    <span></span>
                </div> 
                <p class="card-text">{{article.content}}...</p>
            </div>
            
            <div class="card-buttons d-flex justify-content-between">
                <button *ngIf="currentUser && currentUser.role == 2" [routerLink]="['/articles-edit', article.id]" 
                class="btn btn-warning" >Modifier</button>
                
                <button [routerLink]="['/articles', article.id]" 
                class="btn btn-primary" >Lire la suite</button>
            </div>
        </div>
    </div>
    <button class="btn btn-block btn-secondary"
    routerLink="/articles">Voir les articles suivants</button>
</div>
</section>
